:root {
    --brand-color: #6A61B1;
    --text-color: #FBFBFD;
    --background-color: #0C0B1F;
    --border-color: #807DAE;
    --secondary-color: #CFCDE5;
}

html, body { height: 100%; background-color: var(--background-color); color: var(--text-color);}
body { margin: 0; font-family: "Space Grotesk", sans-serif; }



button:not(.secondary) {
    height: 35px;
    width: 100%;
    background-color: var(--brand-color);
    border: 2px solid var(--brand-color);
    border-radius: 16px;
    cursor: pointer;
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

button:not(.secondary):hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-color: var(--border-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button:not(.secondary):active {
    background-color: var(--brand-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

button:not(.secondary):focus {
    border-color: var(--brand-color);
    box-shadow: 0 0 0 3px rgba(93, 127, 190, 0.5);
}

button.secondary{
    height: 35px;
    width: 100%;
    background-color: var(--background-color);
    border: 2px solid var(--brand-color);
    border-radius: 16px;
    cursor: pointer;
    color: var(--brand-color);
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

button.secondary:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-color: var(--border-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button.secondary:active {
    background-color: var(--brand-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

button.secondary:focus {
    border-color: var(--brand-color);
    box-shadow: 0 0 0 3px rgba(93, 127, 190, 0.5);
}




@media (max-width: 640px) {
    button {
        height: 40px;
        width: 80px;
        font-size: 12px;
    }
}

h1 {
    font-size: 16px;
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    color: var(--brand-color);
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px
}

input{
    height: 50px;
    width: 100%;
    background-color: var(--background-color);

    color: var(--text-color);
    padding: 8px;

    border: 3px solid var(--brand-color);
    border-radius: 16px;
}





